<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="VirtualVault.Settings.Data_ScrNote" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
            <section name="VirtualVault.Settings.Data_AuthenCard" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
            <section name="VirtualVault.Settings.Data_Category" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
            <section name="VirtualVault.Settings.Data_ChgPwd" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
            <section name="VirtualVault.Settings.Data_PwdGen" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
            <section name="VirtualVault.Settings.Data_RnmVault" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
            <section name="VirtualVault.Settings.Data_Home" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
            <section name="VirtualVault.Settings.Data_VaultDatabase" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
            <section name="VirtualVault.Settings.Data_Authen" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
            <section name="VirtualVault.Settings.Data_Hash" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
            <section name="VirtualVault.Settings.Data_AES" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="VirtualVault.Settings.Data_Hash" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="VirtualVault.Settings.Data_AES" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
    </startup>
    <applicationSettings>
        <VirtualVault.Settings.Data_ScrNote>
            <setting name="ScrNoteTitle" serializeAs="String">
                <value>Note sécurisée</value>
            </setting>
            <setting name="DateTimeFormat" serializeAs="String">
                <value>{0:yyyy-MM-dd}</value>
            </setting>
            <setting name="IsScrNoteDataEmpty" serializeAs="String">
                <value>Le nom de la note sécurisée ou son contenu n'a pas été saisi.</value>
            </setting>
            <setting name="IsScrNoteAlreadyExist" serializeAs="String">
                <value>Cette note sécurisée existe déjà.</value>
            </setting>
        </VirtualVault.Settings.Data_ScrNote>
        <VirtualVault.Settings.Data_AuthenCard>
            <setting name="IsACardDataNull" serializeAs="String">
                <value>Le nom de la fiche, le nom d'utilisateur ou le mot de passe n'a pas été saisi.</value>
            </setting>
            <setting name="IsAuthenCardExist" serializeAs="String">
                <value>Cette fiche d'authentification existe déjà.</value>
            </setting>
            <setting name="AuthenCardTitle" serializeAs="String">
                <value>Fiche d'authentification</value>
            </setting>
            <setting name="DateTimeFormat" serializeAs="String">
                <value>{0:yyyy-MM-dd}</value>
            </setting>
        </VirtualVault.Settings.Data_AuthenCard>
        <VirtualVault.Settings.Data_Category>
            <setting name="CategoryTitle" serializeAs="String">
                <value>Catégorie</value>
            </setting>
            <setting name="IsCtgNameLength_Error" serializeAs="String">
                <value>Le nom de la catégorie est incorrecte.</value>
            </setting>
            <setting name="IsCategoryExist" serializeAs="String">
                <value>Cette catégorie existe déjà.</value>
            </setting>
        </VirtualVault.Settings.Data_Category>
        <VirtualVault.Settings.Data_ChgPwd>
            <setting name="ChgPwdTitle" serializeAs="String">
                <value>Changement du mot de passe admisnitrateur</value>
            </setting>
            <setting name="IsPwdLengthInfSeven" serializeAs="String">
                <value>Le mot de passe doit être supérieur à 7 caractères.</value>
            </setting>
            <setting name="ArePasswordNotEqual" serializeAs="String">
                <value>Les mots de passe ne sont pas identiques.</value>
            </setting>
            <setting name="IsUsnAndPwdCheck" serializeAs="String">
                <value>L'ancien mot de passe est incorrect.</value>
            </setting>
        </VirtualVault.Settings.Data_ChgPwd>
        <VirtualVault.Settings.Data_PwdGen>
            <setting name="letters" serializeAs="String">
                <value>AZERTYUIOPQSDFGHJKLMWXCVBN</value>
            </setting>
            <setting name="numbers" serializeAs="String">
                <value>0123456789</value>
            </setting>
            <setting name="symbols" serializeAs="String">
                <value>!"#$%&amp;'()*+,-./:;&lt;=&gt;?@[\]^_`{|}~</value>
            </setting>
            <setting name="regexUpper" serializeAs="String">
                <value>A-Z</value>
            </setting>
            <setting name="regexLower" serializeAs="String">
                <value>a-z</value>
            </setting>
            <setting name="regexNumbers" serializeAs="String">
                <value>0-9</value>
            </setting>
            <setting name="regexSymbols" serializeAs="String">
                <value>!"#$%&amp;'()*+,-./:;&lt;=&gt;?@[\]^_`{|}~</value>
            </setting>
            <setting name="cpxCmtVeryBad" serializeAs="String">
                <value>Inutile</value>
            </setting>
            <setting name="cpxCmtBad" serializeAs="String">
                <value>Gringalet</value>
            </setting>
            <setting name="cpxCmtGood" serializeAs="String">
                <value>Musclé</value>
            </setting>
            <setting name="cpxCmtFantastic" serializeAs="String">
                <value>Fantastique</value>
            </setting>
            <setting name="GetRandomPwd" serializeAs="String">
                <value>Une erreur s'est produite lors de l'accès à la méthode "PwdGen.GetRandomPwd".</value>
            </setting>
            <setting name="PwdGenTitle" serializeAs="String">
                <value>Générateur de mots de passe</value>
            </setting>
            <setting name="IsCheckedAnyCase" serializeAs="String">
                <value>Veuillez sélectionner au moins une option.</value>
            </setting>
        </VirtualVault.Settings.Data_PwdGen>
        <VirtualVault.Settings.Data_RnmVault>
            <setting name="RnmVaultTitle" serializeAs="String">
                <value>Changement du nom du coffre-fort virtuel</value>
            </setting>
            <setting name="IsVltNameLength_Error" serializeAs="String">
                <value>Le nom du coffre-fort est incorrect.</value>
            </setting>
        </VirtualVault.Settings.Data_RnmVault>
        <VirtualVault.Settings.Data_Home>
            <setting name="HomeTitle" serializeAs="String">
                <value>Accueil</value>
            </setting>
            <setting name="ItemLegendNbr" serializeAs="String">
                <value> Enregistrement(s)</value>
            </setting>
            <setting name="lbl_anyItem_Content" serializeAs="String">
                <value>Aucun élément existant.</value>
            </setting>
            <setting name="AddCategoryControls_Rename" serializeAs="String">
                <value>Renommer </value>
            </setting>
            <setting name="AddCategoryControls_Delete" serializeAs="String">
                <value>Supprimer </value>
            </setting>
            <setting name="lbl_MenuItemDelete_Click_Title_Category" serializeAs="String">
                <value>Suppression d'une catégorie</value>
            </setting>
            <setting name="lbl_MenuItemDelete_Click_Message_Category" serializeAs="String">
                <value>Etes-vous sûr de vouloir supprimer cette catégorie ?</value>
            </setting>
            <setting name="lbl_aCardSection_Content" serializeAs="String">
                <value>Fiches d'authentification</value>
            </setting>
            <setting name="lbl_scrNoteSection_Content" serializeAs="String">
                <value>Notes sécurisées</value>
            </setting>
            <setting name="lbl_aCardCpxFactor_Content" serializeAs="String">
                <value> % efficace</value>
            </setting>
            <setting name="lbl_mainDataUpdate" serializeAs="String">
                <value>Modifier</value>
            </setting>
            <setting name="lbl_mainDataDelete" serializeAs="String">
                <value>Supprimer</value>
            </setting>
            <setting name="authenCardID" serializeAs="String">
                <value>authenCardID_</value>
            </setting>
            <setting name="cmd_aCardCopyUsn" serializeAs="String">
                <value>Copier nom d'utilisateur</value>
            </setting>
            <setting name="cmd_aCardCopyPwd" serializeAs="String">
                <value>Copier mot de passe</value>
            </setting>
            <setting name="lbl_MenuItemDelete_Click_Message_AuthenCard" serializeAs="String">
                <value>Etes-vous sûr de vouloir supprimer cette fiche d'authentification ?</value>
            </setting>
            <setting name="lbl_MenuItemDelete_Click_Message_ScrNote" serializeAs="String">
                <value>Etes-vous sûr de vouloir supprimer cette note sécurisée ?</value>
            </setting>
            <setting name="scrNoteID" serializeAs="String">
                <value>scrNoteID_</value>
            </setting>
            <setting name="lbl_MenuItemDelete_Click_Title_AuthenCard" serializeAs="String">
                <value>Suppression d'une fiche d'authentification</value>
            </setting>
            <setting name="lbl_MenuItemDelete_Click_Title_ScrNote" serializeAs="String">
                <value>Suppression d'une note sécurisée</value>
            </setting>
            <setting name="AllItems" serializeAs="String">
                <value>Tous les éléments</value>
            </setting>
        </VirtualVault.Settings.Data_Home>
        <VirtualVault.Settings.Data_VaultDatabase>
            <setting name="VaultDatabaseConnectionString" serializeAs="String">
                <value>Data Source=(LocalDB)\v11.0;AttachDbFilename="|DataDirectory|\Vault Database\Database\Vault.mdf";Integrated Security=True</value>
            </setting>
            <setting name="IsFirstLaunch" serializeAs="String">
                <value>Une erreur s'est produite lors de l'accès à la méthode "VaultDatabase.IsFirstLaunch".</value>
            </setting>
            <setting name="SaveUsnAndPwd" serializeAs="String">
                <value>Une erreur s'est produite lors de l'accès à la méthode "VaultDatabase.SaveUsnAndPwd".</value>
            </setting>
            <setting name="GetVaultID" serializeAs="String">
                <value>Une erreur s'est produite lors de l'accès à la méthode "VaultDatabase.GetVaultID".</value>
            </setting>
            <setting name="CheckUsnAndPwd" serializeAs="String">
                <value>Une erreur s'est produite lors de l'accès à la méthode "VaultDatabase.CheckUsnAndPwd".</value>
            </setting>
            <setting name="CheckCategory" serializeAs="String">
                <value>Une erreur s'est produite lors de l'accès à la méthode "VaultDatabase.CheckCategory".</value>
            </setting>
            <setting name="SaveCategory" serializeAs="String">
                <value>Une erreur s'est produite lors de l'accès à la méthode "VaultDatabase.SaveCategory".</value>
            </setting>
            <setting name="GetVaultName" serializeAs="String">
                <value>Une erreur s'est produite lors de l'accès à la méthode "VaultDatabase.GetVaultName".</value>
            </setting>
            <setting name="GetACardNumber" serializeAs="String">
                <value>Une erreur s'est produite lors de l'accès à la méthode "VaultDatabase.GetACardNumber".</value>
            </setting>
            <setting name="GetScrNoteNumber" serializeAs="String">
                <value>Une erreur s'est produite lors de l'accès à la méthode "VaultDatabase.GetScrNoteNumber".</value>
            </setting>
            <setting name="GetCategoryID" serializeAs="String">
                <value>Une erreur s'est produite lors de l'accès à la méthode "VaultDatabase.GetCategoryID".</value>
            </setting>
            <setting name="UpdVaultName" serializeAs="String">
                <value>Une erreur s'est produite lors de l'accès à la méthode "VaultDatabase.UpdVaultName".</value>
            </setting>
            <setting name="UpdateUsnAndPwd" serializeAs="String">
                <value>Une erreur s'est produite lors de l'accès à la méthode "VaultDatabase.UpdateUsnAndPwd".</value>
            </setting>
            <setting name="GetCategorieNameList" serializeAs="String">
                <value>Une erreur s'est produite lors de l'accès à la méthode "VaultDatabase.GetCategorieNameList".</value>
            </setting>
            <setting name="DeleteCategory" serializeAs="String">
                <value>Une erreur s'est produite lors de l'accès à la méthode "VaultDatabase.DeleteCategory".</value>
            </setting>
            <setting name="UpdateACardCategory" serializeAs="String">
                <value>Une erreur s'est produite lors de l'accès à la méthode "VaultDatabase.UpdateACardCategory".</value>
            </setting>
            <setting name="UpdateScrNoteCategory" serializeAs="String">
                <value>Une erreur s'est produite lors de l'accès à la méthode "VaultDatabase.UpdateScrNoteCategory".</value>
            </setting>
            <setting name="UpdateCategory" serializeAs="String">
                <value>Une erreur s'est produite lors de l'accès à la méthode "VaultDatabase.UpdateCategory".</value>
            </setting>
            <setting name="SaveAuthenCard" serializeAs="String">
                <value>Une erreur s'est produite lors de l'accès à la méthode "VaultDatabase.SaveAuthenCard".</value>
            </setting>
            <setting name="GetACardShcList" serializeAs="String">
                <value>Une erreur s'est produite lors de l'accès à la méthode "VaultDatabase.GetACardShcList".</value>
            </setting>
            <setting name="GetACardUsnList" serializeAs="String">
                <value>Une erreur s'est produite lors de l'accès à la méthode "VaultDatabase.GetACardUsnList".</value>
            </setting>
            <setting name="CheckAuthenCard" serializeAs="String">
                <value>Une erreur s'est produite lors de l'accès à la méthode "VaultDatabase.CheckAuthenCard".</value>
            </setting>
            <setting name="UpdateAuthenCardData" serializeAs="String">
                <value>Une erreur s'est produite lors de l'accès à la méthode "VaultDatabase.UpdateAuthenCardData".</value>
            </setting>
            <setting name="DeleteAuthenCard" serializeAs="String">
                <value>Une erreur s'est produite lors de l'accès à la méthode "VaultDatabase.DeleteAuthenCard".</value>
            </setting>
            <setting name="GetACardNameList" serializeAs="String">
                <value>Une erreur s'est produite lors de l'accès à la méthode "VaultDatabase.GetACardNameList".</value>
            </setting>
            <setting name="GetACardCpxFactorList" serializeAs="String">
                <value>Une erreur s'est produite lors de l'accès à la méthode "VaultDatabase.GetACardCpxFactorList".</value>
            </setting>
            <setting name="GetACardIDList" serializeAs="String">
                <value>Une erreur s'est produite lors de l'accès à la méthode "VaultDatabase.GetACardIDList".</value>
            </setting>
            <setting name="GetScrNoteBookmark" serializeAs="String">
                <value>Une erreur s'est produite lors de l'accès à la méthode "VaultDatabase.GetScrNoteBookmark".</value>
            </setting>
            <setting name="GetACardCrtDate" serializeAs="String">
                <value>Une erreur s'est produite lors de l'accès à la méthode "VaultDatabase.GetACardCrtDate".</value>
            </setting>
            <setting name="GetACardChgDate" serializeAs="String">
                <value>Une erreur s'est produite lors de l'accès à la méthode "VaultDatabase.GetACardChgDate".</value>
            </setting>
            <setting name="GetACardScrNoteList" serializeAs="String">
                <value>Une erreur s'est produite lors de l'accès à la méthode "VaultDatabase.GetACardScrNoteList".</value>
            </setting>
            <setting name="GetACardCategory" serializeAs="String">
                <value>Une erreur s'est produite lors de l'accès à la méthode "VaultDatabase.GetACardCategory".</value>
            </setting>
            <setting name="SaveScrNote" serializeAs="String">
                <value>Une erreur s'est produite lors de l'accès à la méthode "VaultDatabase.SaveScrNote".</value>
            </setting>
            <setting name="CheckScrNoteName" serializeAs="String">
                <value>Une erreur s'est produite lors de l'accès à la méthode "VaultDatabase.CheckScrNoteName".</value>
            </setting>
            <setting name="UpdateScrNoteData" serializeAs="String">
                <value>Une erreur s'est produite lors de l'accès à la méthode "VaultDatabase.UpdateScrNoteData".</value>
            </setting>
            <setting name="DeleteScrNote" serializeAs="String">
                <value>Une erreur s'est produite lors de l'accès à la méthode "VaultDatabase.DeleteScrNote".</value>
            </setting>
            <setting name="GetScrNoteCategory" serializeAs="String">
                <value>Une erreur s'est produite lors de l'accès à la méthode "VaultDatabase.GetScrNoteCategory".</value>
            </setting>
            <setting name="GetScrNoteCrtDate" serializeAs="String">
                <value>Une erreur s'est produite lors de l'accès à la méthode "VaultDatabase.GetScrNoteCrtDate".</value>
            </setting>
            <setting name="GetScrNoteChgDate" serializeAs="String">
                <value>Une erreur s'est produite lors de l'accès à la méthode "VaultDatabase.GetScrNoteChgDate".</value>
            </setting>
            <setting name="GetScrNoteNameList" serializeAs="String">
                <value>Une erreur s'est produite lors de l'accès à la méthode "VaultDatabase.GetScrNoteNameList".</value>
            </setting>
            <setting name="GetScrNoteContentList" serializeAs="String">
                <value>Une erreur s'est produite lors de l'accès à la méthode "VaultDatabase.GetScrNoteContentList".</value>
            </setting>
            <setting name="GetScrNoteIDList" serializeAs="String">
                <value>Une erreur s'est produite lors de l'accès à la méthode "VaultDatabase.GetScrNoteIDList".</value>
            </setting>
        </VirtualVault.Settings.Data_VaultDatabase>
        <VirtualVault.Settings.Data_Authen>
            <setting name="AddAuthenLabelPassword_2" serializeAs="String">
                <value>Confirmation du mot de passe</value>
            </setting>
            <setting name="AuthenTitle" serializeAs="String">
                <value>Connexion</value>
            </setting>
            <setting name="IsUsnAndPwdEmpty" serializeAs="String">
                <value>Le nom d'utilisateur ou le mot de passe n'ont pas été saisi.</value>
            </setting>
            <setting name="IsPwdLengthInfSeven" serializeAs="String">
                <value>Le mot de passe doit être supérieur à 7 caractères.</value>
            </setting>
            <setting name="ArePasswordNotEqual" serializeAs="String">
                <value>Les mots de passe ne sont pas identiques.</value>
            </setting>
            <setting name="IsUsnAndPwdCheck" serializeAs="String">
                <value>Le nom d'utilisateur ou le mot de passe est incorrect.</value>
            </setting>
            <setting name="AllItem" serializeAs="String">
                <value>Tous les éléments</value>
            </setting>
            <setting name="Personnal" serializeAs="String">
                <value>Personnel</value>
            </setting>
            <setting name="Professional" serializeAs="String">
                <value>Professionnel</value>
            </setting>
            <setting name="Mailbox" serializeAs="String">
                <value>Messagerie Electronique</value>
            </setting>
            <setting name="SocialNetwork" serializeAs="String">
                <value>Réseaux Sociaux</value>
            </setting>
            <setting name="Bank" serializeAs="String">
                <value>Compte Bancaire</value>
            </setting>
        </VirtualVault.Settings.Data_Authen>
        <VirtualVault.Settings.Data_Hash>
            <setting name="CheckHash" serializeAs="String">
                <value>Une erreur s'est produite lors de l'accès à la méthode "AESAlgorithm.CheckHash".</value>
            </setting>
            <setting name="GetHash" serializeAs="String">
                <value>Une erreur s'est produite lors de l'accès à la méthode "AESAlgorithm.GetHash".</value>
            </setting>
            <setting name="GetRandomSalt" serializeAs="String">
                <value>Une erreur s'est produite lors de l'accès à la méthode "AESAlgorithm.GetRandomSalt".</value>
            </setting>
            <setting name="IsDataLength_Error" serializeAs="String">
                <value>Une erreur s'est produite lors de l'accès à la méthode "AESAlgorithm.IsDataLength_Error".</value>
            </setting>
        </VirtualVault.Settings.Data_Hash>
        <VirtualVault.Settings.Data_AES>
            <setting name="DecryptData" serializeAs="String">
                <value>Une erreur s'est produite lors de l'accès à la méthode "AESAlgorithm.DecryptData".</value>
            </setting>
            <setting name="EncryptData" serializeAs="String">
                <value>Une erreur s'est produite lors de l'accès à la méthode "AESAlgorithm.EncryptData".</value>
            </setting>
            <setting name="GetKeyAndIV" serializeAs="String">
                <value>Une erreur s'est produite lors de l'accès à la méthode "AESAlgorithm.GetKeyAndIV".</value>
            </setting>
            <setting name="GetRandomSalt" serializeAs="String">
                <value>Une erreur s'est produite lors de l'accès à la méthode "AESAlgorithm.GetRandomSalt".</value>
            </setting>
            <setting name="IsDataLength_Error" serializeAs="String">
                <value>Une erreur s'est produite lors de l'accès à la méthode "AESAlgorithm.IsDataLength_Error".</value>
            </setting>
            <setting name="IsPwdLength_Error" serializeAs="String">
                <value>Une erreur s'est produite lors de l'accès à la méthode "AESAlgorithm.IsPwdLength_Error".</value>
            </setting>
        </VirtualVault.Settings.Data_AES>
    </applicationSettings>
    <userSettings>
        <VirtualVault.Settings.Data_Hash>
            <setting name="Salt" serializeAs="String">
                <value />
            </setting>
        </VirtualVault.Settings.Data_Hash>
        <VirtualVault.Settings.Data_AES>
            <setting name="Salt" serializeAs="String">
                <value />
            </setting>
        </VirtualVault.Settings.Data_AES>
    </userSettings>
</configuration>